<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.hlju.tour.dao.SpotCommentMapper">
    <resultMap id="BaseResultMap" type="cn.edu.hlju.tour.entity.SpotComment">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="spot_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
      id, spot_id, content, user_id, time
    </sql>

    <select id="selectByMap" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select
          sc.id id, sc.content content, s.spot_name spotName, sc.time time, u.nick nick
        from spot_comment sc, spot s, user u
        <where>
            sc.spot_id = s.id and sc.user_id = u.id
            <if test="spotName != null">
                and s.spot_name like concat('%', concat(#{spotName, jdbcType=VARCHAR}, '%'))
            </if>
            <if test="nick != null">
                and u.nick like concat('%', concat(#{nick, jdbcType=VARCHAR}, '%'))
            </if>
        </where>
    </select>

    <delete id="delByUserId" parameterType="long[]">
        delete from spot_comment
        where user_id in
        <foreach collection="array" open="(" item="id" separator=", " close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="delBySpotId" parameterType="long[]">
        delete from spot_comment
        where spot_id in
        <foreach collection="array" open="(" item="id" separator=", " close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="delBySpotCommentId" parameterType="long[]">
        delete from spot_comment
        where id in
        <foreach collection="array" open="(" item="id" separator=", " close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="selectCommentBySpotId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from spot_comment
        where spot_id = #{id,jdbcType=BIGINT} order by time DESC
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from spot_comment
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from spot_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cn.edu.hlju.tour.entity.SpotComment">
    insert into spot_comment (id, spot_id, content, 
      user_id, time)
    values (#{id,jdbcType=BIGINT}, #{spotId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="cn.edu.hlju.tour.entity.SpotComment">
        insert into spot_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="spotId != null">
                spot_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="time != null">
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="spotId != null">
                #{spotId,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hlju.tour.entity.SpotComment">
        update spot_comment
        <set>
            <if test="spotId != null">
                spot_id = #{spotId,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.hlju.tour.entity.SpotComment">
    update spot_comment
    set spot_id = #{spotId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>